.buy {
    width: 113px;
  height: 40px;
  flex-shrink: 0;
  background: #496AF3;
  border-radius: 10px;
  border: 0;
  color: #FFFFFF;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 44px;
  cursor: pointer;
  }
  
  @media screen and (max-width: 786px) {
    .buy {
        width: 93px;
      height: 40px;
      flex-shrink: 0;
      background: #496AF3;
      border-radius: 10px;
      border: 0;
      color: #FFFFFF;
      font-family: "Pretendard Variable";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 44px;
      }
  }