.sections {
    margin-top: 100px;
    margin-left: 349px;
    width: 70%;
    margin-bottom: 5%;
    height: 1800px;
  }


  @media screen and (max-width: 786px){
    .sections {
      margin-top: 50px;
      margin-left: 5%;
      width: 95%;
      height: 100%;
    }
  
  }
  