
.profileContainer{
  
}

  .profileInfo {
    display: flex;
  }
  .profileImg{
    margin-left: 326px;
    border-radius: 90%;
    cursor: pointer;
  }
  .profileNickName{
    position: absolute;
    color: var(--black, #191A1C);
    font-family: "Pretendard Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 50px;
  }

  .EditBtn{
    position: absolute;
    cursor: pointer;
    margin-left: 220px;
    margin-top: -60px;
    width: 113px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gray-200, #F4F5F9);
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
  }
  
  .Followes{
    display: flex;
    margin-top: 60px;
  }

  .flex{
    display: flex;
  }

  .followButton {
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--gray-800, #737A8D);
    font-family: "Pretendard Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 45px;
    height: 45px;
  }

  .followButton2{
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--gray-800, #737A8D);
    font-family: "Pretendard Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 45px;
    margin-left: 0px;
  }

  .followImg{
    margin-left: 5px;
    margin-top: 3px;
    margin-right: 15px;
  }

  .profileName {
    margin-left: 50px;
    margin-top: 10px;
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .profileEmail {
    position: absolute;
    margin-left: 50px;  
    margin-top: 0px;
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .modal {
    background-color: #FFFFFF;
    z-index: 1000;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 8px;
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.20));
    text-align: center;
    color: var(--gray-600, #808389);
    font-family: "Pretendard Variable";
  }

  .Button1{
    position: absolute;
    color: var(--primary-primary, #496AF3);
    font-family: "Pretendard Variable";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    margin-left: 205px;
    margin-top: 169px;
  }

  .Button3{
    position: absolute;
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    margin-left: 205px;
    margin-top: 169px;
  }

  .Button2 {
    position: absolute;
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    margin-left: 455px;
    margin-top: 169px;
  }

  .Button4 {
    position: absolute;
    color: var(--primary-primary, #496AF3);
    font-family: "Pretendard Variable";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    margin-left: 455px;
    margin-top: 169px;
  }


  .verticalLine {
    position: absolute;
    border-top: 1px solid #E2E5EF;
    width: 87%;
    height: 1px;
    margin-top: 247px;
    margin-left: 144px;
    padding: 0%;
  }

  .Loading{
    margin-left: 40%;
    margin-top: 40%;
  }
  
  .profilePoint{
    color: var(--gray-600, #808389);
font-family: "Pretendard Variable";
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 50px;
margin-top: 40px;
  }

  .Lists{
    margin-left: -200px;
    margin-top: 300px;
    height: 2000px;
  }





  @media screen and (max-width: 786px) {
  .profileInfo {
    display: flex;
    margin-top: 20px;
  }
  
  .profileImg{
    
    margin-left: 100px;
    border-radius: 90%;
    cursor: pointer;
    width: 90px;
    height: 90px;
  }
  .profileNickName{
    color: var(--black, #191A1C);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 20px;
  }

  .EditBtn{
    margin-left: 100px;
    margin-top: -20px;
    width: 70px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gray-200, #F4F5F9);
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
  }
  
  .Followes{
    display: flex;
    margin-top: 20px;
  }

  .followButton {
    font-size: 10px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--gray-800, #737A8D);
    font-family: "Pretendard Variable";
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 20px;
height: 30px;
  }
  
  .followButton2{
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--gray-800, #737A8D);
    font-family: "Pretendard Variable";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 30px;
  }

  .profileName {
    margin-top: 0px;
    margin-left: 20px;
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    height: 14px;
  }
  
  .profileEmail {
    position: absolute;
    margin-top: 0px;
    margin-left: 20px;
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .profilePoint{
    color: var(--gray-600, #808389);
font-family: "Pretendard Variable";
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
margin-left: 20px;
  }
  
  .modal {
    background-color: #FFFFFF;
    z-index: 1000;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 8px;
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.20));
    text-align: center;
    color: var(--gray-600, #808389);
    font-family: "Pretendard Variable";
  }

  .Button1{
    color: var(--primary-primary, #496AF3);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    margin-top: 45px;
    margin-left: 90px;
  }

  .Button3{
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    margin-top: 45px;
    margin-left: 90px;
  }

  .Button2 {
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    margin-top: 45px;
    margin-left: 280px;
  }

  .Button4 {
    color: var(--primary-primary, #496AF3);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFFFFF;
    border: 0;
    margin-top: 45px;
    margin-left: 280px;
  }


  .followImg{
    margin-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
  }
  .names{
    width: 50px;
    font-size: 10px;
  }

  .verticalLine {
    position: absolute;
    border-top: 1px solid #E2E5EF;
    width: 85%;
    height: 2px;
    margin-top: 80px;
    margin-left: 10%;
    padding: 0%;
  }

  .Loading{
    margin-left: 40%;
    margin-top: 40%;
  }
  .Lists{
    margin-left: 0;
    margin-top: 20%;
  }


  }