
.pageContainer {
    background: #F3F5FA;
  }
  
  .flexSection1 {
    height: 347px;
    background: #456AE2;
    border: 0;
  }
  
  .flexSection2 {
    height: 3000px;
    background: #F3F5FA;
    position: relative;
  }
  
  
  
  .buttonContainer {
    position: absolute;
    right: 5px;
    margin-bottom: 20px;
    margin-top: -100px;
  }
  
  .button {
    display: flex;
    margin-top: 10px;
    height: 48px;
    padding: 15px 18px;
    font-size: 16px;
    background-color: #9ebbc3; /* 배경색 */
    color: white; /* 글자색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 마우스 오버 효과 */
  }
  
  .pencli{
    margin-top: 2px;
  }
  .Add{
    margin-left: 15px;
    font-family: "Pretendard Variable";
  }
    
    .button:hover {
      background-color: #00708b; /* 마우스 오버시 배경색 변화 */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
    }
    
 
  
    .cateSticky{
      position: sticky;
      top: 150px;
    }
  
  .cateminibtn{
    display: none;
  }
  
  
  @media screen and (max-width: 786px) {
    .cateminibtn{
      display: flex;
    }
  
    
  .pageContainer {
    background: #F3F5FA;
    height: 200%;
  }
  
  .flexSection1 {
    height: 246px;
    background: #456AE2;
    border: 0;
  }
  
  .flexSection2 {
    background: #F3F5FA;
    position: relative;
    margin-top: 0px;
  }
  
  
  .buttonContainer {
    position: absolute;
    right: 0px;
    margin-top: -50px;
  }
  
  .button {
      padding: 5px 10px;
      font-size: 16px;
      background-color: #9ebbc3; /* 배경색 */
      color: white; /* 글자색 */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease; /* 마우스 오버 효과 */
      height: auto;
    }
    
    .button:hover {
      background-color: #45a049; /* 마우스 오버시 배경색 변화 */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
    }
    
    .cateSticky{
        position: sticky;
        top: 70px;
        z-index: 1;
      }

  }