.postForm {
    /* 게시글 스타일 */
    background-color: #FFFFFF;
    position: relative;
  }
  
  .productCtr {
    text-align: center;
    border-radius: 10px;
    border: 0;
  }

  .profiles{
    margin-top: 20px;
    align-items: center;
  justify-content: center;
    display: flex;
  }
  .productImg{
    border-radius: 20px;
  }
  .ProImg{
    border-radius: 90%;
    border: 0;
  }
  .nickNames{
    color: var(--gray-800, #737A8D);
    font-family: "Pretendard Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 16px;
    margin-top: 16px;
  }

  .prdName{
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
color: var(--black, #191A1C);
text-overflow: ellipsis;
font-family: "Pretendard Variable";
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-top: 35px;
  }

  .verticalLine {
    border-top: 1px solid #E2E5EF;
    background: #F4F5F9;
    width: 50%;
    height: 1px;
    margin-left: 25%;
    margin-top: 20px;
    padding: 0%;
  }

  .price{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
color: var(--primary-primary, #496AF3);
text-overflow: ellipsis;
font-family: "Pretendard Variable";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
margin-top: 30px;
  }

  .buttons{
    margin-top: 55px;
    display: flex;
    justify-content: center;
  }
  
  .like {
    border-radius: 10px;
  background: var(--gray-200, #F4F5F9);
  width: 113px;
  height: 40px;
  color: var(--gray-400, #BEC0C6);
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  }

  .liked{
    border-radius: 10px;
    opacity: 0.8;
    background: var(--primary-primary, #496AF3);
    width: 113px;
    height: 40px;
    color: var(--primary-primary, #1139d8);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    cursor: pointer;
  }
  

  .anotherLine{
height: 50px;
flex-shrink: 0;
background: var(--gray-100, #fff);
margin-top: 74px;
  }

  .recomePrd{
    margin-left: 175px;
  }

  .postsGrid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 1000px;
    margin-left: 100px;
  }

  .postItem {
    background: #FFF;
    width: 400px;
    height: 400px;
  }
  .ListprdName{
    overflow: hidden;
color: var(--black, #191A1C);
text-overflow: ellipsis;
white-space: nowrap;
font-family: "Pretendard Variable";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: absolute;
margin-left: 30px;
margin-top: 12px;
  }

  .ListPrice{
    color: var(--gray-800, #737A8D);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    margin-left: 30px;
    margin-top: 38px;
  }

  .ListImgs{
      border-radius: 20px;
  }







  @media screen and (max-width: 786px) {
    .postForm {
      /* 게시글 스타일 */
      background-color: #FFFFFF;
      position: relative;
    }
    
    .productCtr {
      text-align: center;
      border-radius: 10px;
      border: 0;
    }
  
    .profiles{
      margin-top: 5px;
      align-items: center;
    justify-content: center;
      display: flex;
    }
    .productImg{
      border-radius: 20px;
      width: 280px;
      height: 280px;
    }
    .ProImg{
      border-radius: 90%;
      border: 0;
      width: 40px;
      height: 40px;
    }
    .nickNames{
      color: var(--gray-800, #737A8D);
      font-family: "Pretendard Variable";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 10px;
      margin-top: 15px;
    }
  
    .prdName{
      display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--black, #191A1C);
  text-overflow: ellipsis;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
    }
  
    .verticalLine {
      border-top: 1px solid #E2E5EF;
      background: #F4F5F9;
      width: 80%;
      height: 1px;
      margin-top: 20px;
      padding: 0%;
      margin-left: 50px;
    }
  
    .price{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
  color: var(--primary-primary, #496AF3);
  text-overflow: ellipsis;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-top: 15px;
    }
  
    .buttons{
      margin-top: 25px;
      text-align: center;
    }
    
    .like {
      border-radius: 10px;
    background: var(--gray-200, #F4F5F9);
    width: 93px;
    height: 40px;
    color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    cursor: pointer;
    }
    
    .liked{
      border-radius: 10px;
      opacity: 0.8;
      background: var(--primary-primary, #496AF3);
      width: 93px;
      height: 40px;
      color: var(--primary-primary, #1139d8);
      font-family: "Pretendard Variable";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border: 0;
      cursor: pointer;
    }
  
    .anotherLine{
  height: 50px;
  flex-shrink: 0;
  background: var(--gray-100, #fff);
  margin-top: 74px;
    }
  
    .recomePrd{
      margin-left: 175px;
    }
  
    .postsGrid {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      width: 1000px;
      margin-left: 100px;
    }
  
    .postItem {
      background: #FFF;
      width: 400px;
      height: 400px;
    }
    .ListprdName{
      overflow: hidden;
  color: var(--black, #191A1C);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  margin-left: 30px;
  margin-top: 12px;
    }
  
    .ListPrice{
      color: var(--gray-800, #737A8D);
      font-family: "Pretendard Variable";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: absolute;
      margin-left: 30px;
      margin-top: 38px;
    }
  
    .ListImgs{
        border-radius: 20px;
    }
  
  
  
  
  }