.headerContainer {
  display: flex;
  background: #fff;
  height: 130px;
  /* width: 1440px; */
  flex-shrink: 0;
  border: 0px;
}

.logo {
  color: var(--black, #191a1c);
  font-family: 'Gmarket Sans TTF';
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 144px;
  height: 44px;
  margin-left: 244px;
  margin-top: 43px;
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .headerContainer {
    display: flex;
    background: #fff;
    height: 80px;
    flex-shrink: 0;
    border: 0px;
    margin-left: 0;
  }

  .logo {
    color: var(--black, #191a1c);
    font-family: 'Gmarket Sans TTF';
    font-size: 25px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    width: 144px;
    height: 44px;
    margin-left: 64px;
    margin-top: 23px;
    cursor: pointer;
  }
}
