/* ProductForm.module.css */

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .imglabel {
    display: flex;
    color: var(--black, #191A1C);
    font-family: "Pretendard Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
  }

  .label{
    color: var(--black, #191A1C);
    font-family: "Pretendard Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .selectImg{
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 15%;
    width: 60%;
    height: 60%;
  }
  .margins{
    margin-top: 30px;
  }
  
  .inputField {
    display: flex;
    width: 840px;
    height: 60px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-top: 30px;
    padding-left: 10px;
  }

  .selectField {
    margin: 10px;
    width: 20%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }
  .button {
    margin-top: 54px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 840px;
    height: 70px;
  }
  
  .bkImg{
    display: flex;
    position: absolute;
    margin-top: 32px;
    margin-left: 10px;
  }
  .inputFields {
    display: flex;
    width: 790px;
    height: 60px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-top: 30px;
    padding-left: 50px;
  }
  .inputFielded{
    display: flex;
    width: 50%;
    height: 60px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 100%;
  }

  .inputFieldRow{
    margin-top: 2%;
  }

  .inputFieldSmall{
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-left: 10%;
    margin-right: 5%;
    width: 15%;
  }

  .inputFieldSmalls{
    padding: 10px;
    margin-left: 10%;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-left: 5%;
    margin-right: 5%;
    width: 15%;
  }

  .NotEditImg{
    color: red;
  }



  
  @media screen and (max-width: 786px) {
    /* ProductForm.module.css */

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .imglabel {
    display: flex;
    color: var(--black, #191A1C);
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
  }

  .minis{
    width: 50%;
  }
  .label{
    color: var(--black, #191A1C);
    font-family: "Pretendard Variable";
    font-size: 80%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .selectImg{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
  }
  .margins{
    margin-top: 10px;
    width: 50%;
    
  }
  
  .inputField {
    display: flex;
    width: 170%;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 60%;
  }

  .selectField {
    margin: 10px;
    width: 240px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }
  .button {
    margin-top: 24px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120%;
    height: 40px;
    margin-left: -40px;
  }
  
  .bkImg{
    display: flex;
    position: absolute;
    margin-top: 16.5px;
    margin-left: 10px;
    width: 30%;
    height: 4.5%;
  }
  .inputFields {
    display: flex;
    width: 140%;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-top: 15px;
    padding-left: 50px;
  }

  .inputFielded{
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 60%;
  }

  .inputFieldRow{
    margin-top: 2%;
    display: flex;
    width: 100%;
  }

  .inputFieldSmall{
    padding: 5px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-right: 5%;
    font-size: 60%
  }

  .inputFieldSmalls{
    padding: 5px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 60%;
  }

  .options{
    height: auto;
  }

  .NotEditImg{
    color: red;
    font-size: 50%;
    margin-left: 25%;
  }

  }