



.section1{
  background: #FFFFFF;
}

.bktitle{
  color: var(--black, #191A1C);
font-family: "Pretendard Variable";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 20%;
}

.AllLable{
  color: var(--black, #191A1C);
font-family: "Pretendard Variable";
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.AllInput{
  border-radius: 5px;
border: 2px solid var(--gray-400, #BEC0C6);
background: #FFF;
width: 40px;
height: 40px;
flex-shrink: 0;
margin-top: 30px;
margin-left: 22.3%;
margin-right: 30px;
margin-bottom: 37px;
}


.section2{
  position: relative;
  margin: 0;
  background: var(--gray-200, #F4F5F9);
}

.postsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .postItem {
    margin-left: 18%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.10);
    width: 65%;
    height: 300px;
    margin-top: 46px;
  }
  .flexes{
    display: flex;
  }
  .Checkboxes{
    border-radius: 5px;
    border: 2px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 23px;
    margin-top: 23px;
  }

  .SelectBtn{
    border-radius: 10px;
    background: var(--primary-primary, #496AF3);
    width: 82%;
    height: 90px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Pretendard Variable";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    margin-left: 10%;
    margin-bottom: 150px;
  }

  .IpImg{
    margin-left: 15%;
  }

  .PrdName{
    width: 300px;
    color: #000;
font-family: "Pretendard Variable";
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 125px;
  }

  .position{
    position: absolute;
    margin-left: 23%;
    margin-top: 45px;
  }

  .DtBtn{
    width: 155px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    color: var(--gray-600, #808389);
font-family: "Pretendard Variable";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .OdBtn{
    width: 155px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
border: 2px solid var(--primary-primary, #496AF3);
background: #FFF;
color: var(--primary-primary, #496AF3);
font-family: "Pretendard Variable";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 15px;
margin-left: 30px;
  }

  .selectAmount{
    margin-left: 74%;
  }



  @media screen and (max-width: 786px) {


.section1{
    background: #FFFFFF;
  }
  
  .bktitle{
    color: var(--black, #191A1C);
  font-family: "Pretendard Variable";
  font-size: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20%;
  }
  
  .AllLable{
    color: var(--black, #191A1C);
  font-family: "Pretendard Variable";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  }
  
  .AllInput{
    border-radius: 5px;
  border: 2px solid var(--gray-400, #BEC0C6);
  background: #FFF;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-left: 22.3%;
  margin-right: 30px;
  
  margin-bottom: 37px;
  }
  
  
  .section2{
    position: relative;
    margin: 0;
    background: var(--gray-200, #F4F5F9);
  }
  
  .postsGrid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
    }
  
    .postItem {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.10);
        width: 90%;
        height: 400px;
        margin-left: 5%;
    }
    .flexes{
        display: table;
    }
    .Checkboxes{
      border-radius: 5px;
      border: 2px solid var(--gray-400, #BEC0C6);
      background: #FFF;
      width: 20px;
      height: 20px;
      margin-left: 23px;
      margin-top: 23px;
    }
  
    .SelectBtn{
      border-radius: 10px;
      background: var(--primary-primary, #496AF3);
      width: 90%;
      height: 60px;
      flex-shrink: 0;
      color: #FFF;
      font-family: "Pretendard Variable";
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border: 0;
      margin-left: 5%;
      margin-bottom: 150px;
    }
  
    .IpImg{
      margin-top: 10%;
      margin-left: 35%;
    }
  
    .PrdName{
      width: 300px;
      color: #000;
      font-family: "Pretendard Variable";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 40%;
    }
  
    .position{
      margin-left: 10%;
      margin-top: 4%;
      display: flex;
    }
  
    .DtBtn{
      width: 125px;
      padding: 5px 15px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 2px solid var(--gray-400, #BEC0C6);
      background: #FFF;
      color: var(--gray-600, #808389);
      font-family: "Pretendard Variable";
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  
    .OdBtn{
      width: 125px;
      padding: 5px 15px;
      justify-content: center;
      align-items: center;  
      border-radius: 10px;
  border: 2px solid var(--primary-primary, #496AF3);
  background: #FFF;
  color: var(--primary-primary, #496AF3);
  font-family: "Pretendard Variable";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0px;
  margin-left: 30px;
    }
  
    .svgs{
        width: 15px;
        height: 15px;
    }

    .selectAmount{
      font-size: 80%;
      margin-left: 65%;
    }
  

  }